{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.png" rel="icon" type="image/png">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet"
        href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

</head>


<div class="p-4 w-80% lg:w-1/2 bg-purple-500">
    <!--light mode - text and icons-->
    <div class="p-2 text-gray-900 bg-white rounded-lg font-medium capitalize flex flex-wrap justify-between">
        <div>
            <span class="px-2 mr-2 border-r border-gray-800 ml-0">
                <img src="{% static 'images/logo_solo.png' %}" alt="alt placeholder"
                    class="w-9 h-10 -mt-0 inline mx-auto">
            </span>
        </div>
        <div class="mt-1">
            <span class="px-1 cursor-pointer hover:text-gray-700">
                <i class="fas fa-search p-2 bg-gray-200 rounded-full">
                </i>
            </span>
            <span class="w-10 relative float-right mr-3 cursor-pointer hover:text-gray-700">
                <i class="w-8 fas fa-user p-2 bg-gray-200 rounded-full">
                </i>
        </div>
    </div>
</div>
</div>

<div class="h-screen w-100% bg-purple-500 pb-20 mb-20">
    <div class="container m-auto">
        <!--<h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>--->

        <div class="lg:flex justify-center lg:space-x-12 lg:space-y-0 space-y-5">
            <!-- left sidebar-->
            <div class="space-y-5 flex-shrink-0 lg:w-12/12">
                <div class="mx-auto lg:w-100%"> <img class="mx-auto" src="{% static 'images/logo-solo-white.png' %}">
                </div>
                <!-- post 1-->
                <div class=" rounded-lg overflow-hidden border w-full lg:w-12/12 md:w-6/12 bg-white mx-auto">
                    <div class="w-full flex justify-between p-3">
                        <div class="flex">
                            <div
                                class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden">
                                <img src="{% static 'images/lowhigh.jpg' %}" alt="profilepic">
                            </div>
                            <span class="pt-1 ml-2 font-bold text-sm">c/lowcouplinghighcohesion</span>
                        </div>
                    </div>
                    <div class="px-3 pb-2">
                        <div class="pt-1">
                            <div class="mb-2 text-sm">
                                <h1
                                    class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
                                    Best practices for successful prototypes</h1>
                                <p class="text-gray-600 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Sed euismod, nisl nec aliquam tincidunt, nunc nibh lacinia nunc,
                                    eget aliquam massa nisl eget dolor. Sed euismod, nisl nec aliquam tincidunt, nunc
                                    nibh lacinia nunc, eget aliquam massa nisl eget dolor.</p>
                            </div>
                        </div>
                        <div class="mb-2 mx-auto">
                            <hr class="mt-6 border-b-1 border-blueGray-300">
                            <div class="pt-2 text-right">
                                <i class="fa fa-comment cursor-pointer"></i>
                                <span class="text-sm text-gray-400 font-medium">12 comments</span>
                            </div>
                            <div class="mb-2 text-sm">
                                <span class="font-medium mr-2">razzle_dazzle</span> Dude! How cool! I went to New
                                Zealand last summer and had a blast taking the tour! So much to see! Make sure you bring
                                a good camera when you go!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row mx-auto justify-center mt-5">
            <button type="button"
                class="bg-gray-800 text-white rounded-l-md border-r border-gray-100 py-2 hover:bg-red-700 hover:text-white px-3">
                <div class="flex flex-row align-middle">
                    <svg class="w-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <p class="ml-2">Prev</p>
                </div>
            </button>
            <button type="button"
                class="bg-gray-800 text-white rounded-r-md py-2 border-l border-gray-200 hover:bg-red-700 hover:text-white px-3">
                <div class="flex flex-row align-middle">
                    <span class="mr-2">Next</span>
                    <svg class="w-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
            </button>
        </div>
    </div>
</div>
</div>
</div>

<!-- Scripts
    ================================================== -->
<script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/uikit.js' %}"></script>
<script src="{% static 'assets/js/simplebar.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>



<script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html>