{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.png" rel="icon" type="image/png">
    <title>Clanly</title>
    <link rel="icon" href="{% static 'images/logo_solo.png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet"
        href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

</head>
<link rel="stylesheet" href="https://unpkg.com/flowbite@latest/dist/flowbite.min.css" />
{% include 'navbar.html' %}
<div class="h-screen w-100% bg-purple-600 pb-20 mb-20">
    <div class="container m-auto">
        <!--<h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>--->

        <div class="lg:flex justify-center lg:space-x-12 lg:space-y-0 space-y-5">
            <!-- left sidebar-->
            <div class="space-y-5 flex-shrink-0 lg:w-8/12">
                <div class="mx-auto lg:w-100%"> <img class="mx-auto" src="{% static 'images/logo-no-background.png' %}">
                </div>
                <!-- post 1-->
                <div class=" rounded-lg overflow-hidden w-full lg:w-12/12 md:w-6/12 bg-purple-600 mx-auto">
                    <div class="w-full flex justify-center p-3">
                        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                            <table class="w-96 text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead
                                    class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="py-3 px-6 text-left">
                                            Clan
                                        </th>
                                        <th scope="col" class="py-3 px-10">

                                        </th>
                                        <th scope="col" class="py-3 px-10">

                                        </th>
                                        <th scope="col" class="py-3 px-6">

                                        </th>
                                        <th scope="col" class="py-3 px-6 text-center">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in clans %}

                                    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                        <th scope="row"
                                            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white text-left">
                                            <a href="/clan/{{c.id}}"
                                                class="font-medium text-purple-600 dark:text-blue-500 hover:underline">c/{{c.name}}</a>
                                        </th>
                                        <td class="py-4 px-6">

                                        </td>
                                        <td class="py-4 px-6">

                                        </td>
                                        <td class="py-4 px-6">

                                        </td>
                                        <td class="py-4 px-6 text-center">
                                            <a href="/edit_clan/{{ c.id }}">
                                                <i class=" text-2xl fa fa-wrench mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row mx-auto justify-center mt-5">
                    <a href="/create_clan">
                        <button type="button"
                            class="bg-purple-900 text-white rounded-lg border-purple-900 py-2 hover:bg-purple-900 hover:text-white px-3">
                            <div class="flex flex-row align-middle">
                                <p class=""><i class="fa fa-plus mr-2"></i> New Clan</p>
                            </div>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scripts
    ================================================== -->
<script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/uikit.js' %}"></script>
<script src="{% static 'assets/js/simplebar.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="https://unpkg.com/flowbite@latest/dist/flowbite.js"></script>
</body>


</html>